*{
    background-color: #18181b;
}

@keyframes RGB{
    25%{border-color: red;}
    50%{border-color: yellow;}
    75%{border-color: orange;}
    100%{border-color: blue;}
}

.cabeca{
    width: 200px;
    height: 200px;

    margin-left: auto;
    margin-right: auto;

    border: 2px solid ;
    border-radius: 50%;

    animation: RGB 3s infinite;

    border-color: red;

    d
}

.olhos{
    display: flex;
    opacity: 0.5;
}
.olhoDireito{
    width: 35px;
    height: 35px;

    border: 2px solid ;
    border-radius: 100%;
    border-color: red;

  
    animation: RGB 3s infinite;
/*a margem esta sobrepondo a cabeça*/
    margin-top: 60px;
    margin-left: 40px;
}
.olhoEsquerdo{
    width: 35px;
    height: 35px;

    border: 2px solid ;
    border-radius: 100%;
    border-color: red;

    animation: RGB 3s infinite;

    margin-top: 60px;
    margin-left: 40px;
}

.sorriso{
    width: 70px;
    height: 40px;

    border: 2px solid ;
    border-radius: 0% 0% 100% 100%;
    border-color: red;

    animation: RGB 3s infinite;

    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

    background-color: black;
    
}

@keyframes rgbTronco{
    25%{background-color: red;}
    50%{background-color: yellow;}
    75%{background-color: orange;}
    100%{background-color: blue;}
}

.troncoTotal{
    display: flex;
}
.tronco{
    width: 30px;
    height: 200px;

    margin-left: 654px;
    margin-right: ;

    border: 2px solid;

    background-color: red;

    animation: rgbTronco 3s infinite;
}

.bracoEsquerdo{
    width: 30px;
    height: 150px;

    -webkit-transform: skew(-20deg); 
    -ms-transform: skew(-20deg); 
    transform: skew(-20deg);

    background-color: red;

    animation: rgbTronco 3s infinite;

    margin-left: -60px;
    margin-top: 20px;
}

.bracoDireito{
    width: 30px;
    height: 150px;

    -webkit-transform: skew(20deg); 
    -ms-transform: skew(20deg); 
    transform: skew(20deg);

    background-color: red;

    animation: rgbTronco 3s infinite;

    margin-left: 25px;
    margin-top: 20px;

}
.pernas{
    display: flex;
}
.pernaEsquerda{
    width: 30px;
    height: 200px;

    -webkit-transform: skew(-20deg); 
    -ms-transform: skew(-20deg); 
    transform: skew(-20deg);

    background-color: red;

    animation: rgbTronco 3s infinite;

    margin-left: 620px;
    margin-right: auto;
}

.pernaDireita{
    width: 30px;
    height: 200px;

    -webkit-transform: skew(20deg); 
    -ms-transform: skew(20deg); 
    transform: skew(20deg);

    background-color: red;

    animation: rgbTronco 3s infinite;

    margin-left: auto;
    margin-right: -582px;
}

.peEsquerdo{
    width: 40px;
    height: 20px;

    background-color: red;

    margin-right: 1000px;

}

